:root {
  --border-color: #edb458;
  --inner-color: #5d737e;
  --card-color: #353141;
}

.about {
  display: flex;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  padding: 20px;
  padding-top: 5px;
  background: var(--inner-color);
  border-radius: 15px;
  border: var(--border-color) solid 10px;
  box-shadow: 10px 10px 20px rgb(26, 31, 27);
  overflow: scroll;
}
.about-section {
  background-color: var(--card-color);
  margin: 5px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 3px 8px #353141;
  display: flex;
  flex-direction: column;
}

.close {
  background-color: var(--border-color);

  width: 2.5rem;
  height: 3rem;
  z-index: 1100;
  font-size: calc(20px + 2vmin);
  position: absolute;
  right: 10%;
  top: 10%;
  color: rgb(190, 112, 112);
  cursor: pointer;
  border-radius: 20%;
}
.close:hover {
  color: rgb(211, 19, 19);
}

.wiki {
    padding-left: .5rem;
  text-align: left;
  font-size: calc(10px + 1vmin);

}
h3 {
  text-align: left;
  padding-left: 0.5rem;
  font-size: calc(8px + 2.5vmin);
  background-color: #1c1a22;
}
p {
    padding-left: .5rem;

  text-align: left;
  font-size: calc(10px + 1vmin);
}

li {
  text-align: left;
  font-size: calc(10px + 1vmin);
}

@media only screen and (max-width: 800px) {
  .about {
    top: 1%;

    left: 2%;
    right: 2%;
    padding-top: 2rem;
  }
  .close {
    top: 1%;
    right: 2%;
    padding-top: 0.5rem;
  }
}
