:root {
  --border-color: #edb458;
  --inner-color: #5d737ecc;
  --card-color: #353141;
  --light-border-colors: #dfccb4;
}
.about-container {
  
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-out;
  position: absolute;
  top: calc(20px + 2vmin);
  left: calc(20px + 2vmin);
  right: calc(20px + 2vmin);
  bottom: calc(20px + 2vmin);
  z-index: 1000;
}
.about-container-close {
  transform: translate3d(0, -110vh, 0);
  transition: transform 0.5s ease-in;
  position: absolute;
  top: calc(20px + 2vmin);
  left: calc(20px + 2vmin);
  right: calc(20px + 2vmin);
  bottom: calc(20px + 2vmin);
  z-index: 1000;
}
.about {
  display: flex;
  top: calc(20px + 2vmin);
  left: calc(20px + 2vmin);
  right: calc(20px + 2vmin);
  bottom: calc(20px + 2vmin);
  flex-direction: column;
  position: absolute;

  padding: 20px;
  padding-top: 5px;
  background: var(--inner-color);
  border-radius: 15px;
  border: var(--border-color) solid 10px;
  box-shadow: -10px 10px 20px rgb(26, 31, 27);
  overflow-y: auto;
}
.about-section {
  background-color: var(--card-color);
  margin: 5px;
  padding: 1rem;
  border-radius: 1rem;
  border: var(--light-border-colors) solid 1px;
  display: flex;
  flex-direction: column;
}

.close {
  background-color: var(--border-color);
  width: 2.5rem;
  height: 3rem;
  z-index: 1100;
  font-size: calc(20px + 2vmin);
  position: absolute;
  right: calc(20px + 2vmin);
  top: calc(20px + 2vmin);
  color: rgb(190, 112, 112);
  cursor: pointer;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #221a1a;
}
.close:hover {
  font-weight: 900;
  color: rgb(112, 74, 74);
  text-shadow: none;
}
.close p {
  font-size: 2rem;
}
.wiki {
  padding-left: 0.5rem;
  text-align: left;
  font-size: calc(10px + 1vmin);
}
h3 {
  text-align: left;
  padding-left: 0.5rem;
  font-size: calc(8px + 2.5vmin);
  background-color: #1c1a22;
  border-radius: 3px;
}
p {
  padding-left: 0.5rem;

  text-align: left;
  font-size: calc(10px + 1vmin);
}

li {
  text-align: left;
  font-size: calc(10px + 1vmin);
}
