:root {
  --slider-color: #e8871e;
  --gborder-color: #bad4aa;
  --cell-base: #5d737e86;
  --cell-highlight: #f1ede5;
  --cell-shadow: #c4beb7;
  --board-grid: #232124;
  --board-background: #010;
}
.Board-container {
  margin: 0 auto;
  width: 97.5vw;
  max-height: calc(100vh - 11rem) ;
  overflow: auto;
}

.topper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.grid-size {
  margin-left: auto;
}
.controls {
  width: 100vw;
}
.Board {

  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(var(--board-grid), 1px, transparent 1px),
    linear-gradient(90deg, var(--board-grid), 1px, transparent 1px);
  background-color: var(--board-background);
  border: 5px groove var(--gborder-color);
  border-radius: 5px;
}
.Cell {
  background: var(--cell-base);
  background-image: radial-gradient(
    var(--cell-shadow) 5%,
    var(--cell-highlight) 55%,
    transparent 80%
  );
  position: absolute;
  border-radius: 45%;
}
h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;

  text-shadow: -5px 3px 3px #262429;
}
h3 {
  font-family: "Staatliches", cursive;
}

.close-options {
  background-color: #edb458bb;
  width: 100%;
  font-size: calc(20px + 2vmin);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #be7070;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  text-shadow: 1px 1px 1px #221a1a;
}
.close-options:hover {
  filter: hue-rotate(-45deg) brightness(130%) contrast(100%) opacity(90%);
  padding-left: 2px;
  color: rgb(112, 74, 74);
  text-shadow: none;
}

.open {
  background-color: var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0%;
  top: 0%;
  color: rgb(190, 112, 112);
  cursor: pointer;
  border-radius: 0 0 3px 0;
}
.open:hover {
  filter: hue-rotate(-45deg) brightness(110%) contrast(87%);
}
.open-about {
  background-color: var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0%;
  top: 0%;
  color: #be7070;
  cursor: pointer;
  border-radius: 0 0 0 3px;
}
.open-about p {
  font-family: "Staatliches", cursive;
  font-weight: 900;
  padding-left: 1rem;
  font-size: 1.8rem;
}
.open-about:hover {
  filter: hue-rotate(-45deg) brightness(110%) contrast(87%);
}

.options {
  padding: 1rem 1rem 2rem 1rem;
  width: 350px;
  height: 320px;
  z-index: 1100;
  position: fixed;
  left: 1rem;
  top: 0;
  transform: translate3d(0, -150vh, 0);
  transition: transform 0.5s ease-in;
  background-color: #55505cee;
  background-image: linear-gradient(#47444baa, transparent 80%),
    radial-gradient(circle at top left, #47444bee, transparent 45%),
    radial-gradient(circle at top, #47444bee, transparent 35%);
  border-radius: 0 0 10px 10px;
}
.show-options {
  padding: 2rem 1rem 2rem 1rem;
  width: 350px;
  height: 350px;

  z-index: 1100;
  position: fixed;
  left: 1rem;
  top: 0;
  transform: translate3d(0, 0vh, 0);
  transition: transform 0.5s ease-out;
  background-color: #55505cee;
  background-image: linear-gradient(#47444baa, transparent 80%),
    radial-gradient(circle at top left, #47444bcc, transparent 45%),
    radial-gradient(circle at top, #47444bcc, transparent 35%);
  border-radius: 0 0 10px 10px;
}

.button {
  background: #222;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
.conways-container {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
}
.fast-slow {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: var(--board-background);
  font-size: 1rem;
  z-index: 1200;
  text-align: right;
  padding-right: 1rem;
}

/*
slider class names from rsuite to use custom colors
*/
.rs-slider-bar {
  background-color: #252b27aa;
  cursor: pointer;
  height: 25px;
}
.rs-slider-bar:hover {
  background-color: #252b27aa;
  height: 25px;
}

.rs-slider-graduator > ul > li:last-child::after,
.rs-slider-graduator > ul > li::before {
  background-color: #292d33ee;
  height: 25px;
  border: 2px solid #3c3f43;
}
.rs-slider-graduator > ul > li.rs-slider-pass::before {
  border-color: var(--slider-color);
  height: 25px;
}
.rs-slider-progress-bar {
  background-color: var(--slider-color);
  height: 25px;
}

.rs-slider-handle::before {
  border: 4px solid var(--slider-color);
  background-color: #292d33;
  height: 35px;
  width: 35px;
  position: absolute;
  left: -12px;
  top: 8px;
  cursor: pointer;
  box-shadow: -3px 3px 5px #262429;
}
.rs-form-control-wrapper.plaintext > .rs-slider .rs-tooltip-inner {
  display: inline-block;
  background: transparent;
  color: #e9ebf0;

  font-size: 14px;
  line-height: 2.42857143;
  padding: 8px 0;
}
