:root {
  --slider-color: #e8871e;
  --gborder-color: #bad4aa;
  --cell-base: #5d737e86;
  --cell-highlight: #edb458;
  --cell-shadow: #e8871e;
  --board-grid: #55505c;
  --board-background: #262429;
}
.Board-container {
  margin: 0 auto;
  width: 97.5vw;
  max-height: 75vh;
  overflow: auto;
}
.Board {
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(var(--board-grid), 1px, transparent 1px),
    linear-gradient(90deg, var(--board-grid), 1px, transparent 1px);
  background-color: #010;
  border: 5px groove var(--gborder-color);
  border-radius: 5px;
}
.Cell {
  background: var(--cell-base);
  background-image: radial-gradient(
    var(--cell-shadow),
    var(--cell-highlight) 50%,
    transparent 75%
  );
  position: absolute;
  border-radius: 45%;
}
h1 {
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  margin-top: -25px;


  text-shadow: -5px 3px 3px #262429;
}
h3 {
  font-family: "Staatliches", cursive;
}

.close-options {
  background-color: #edb458bb;
  width: 100%;
  font-size: calc(20px + 2vmin);
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(190, 112, 112);
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  text-shadow: 1px 1px 1px #221a1a;
}
.close-options:hover {
  color: rgb(211, 19, 19);
  text-shadow: none;
}

.open {
  background-color: var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0%;
  top: 0%;
  color: rgb(190, 112, 112);
  cursor: pointer;
  border-radius: 0 0 3px 0;
}
.open:hover {
  filter: hue-rotate(70deg) brightness(104%) contrast(97%);
}
.open-about {
  background-color: var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0%;
  top: 0%;
  color: rgb(190, 112, 112);
  cursor: pointer;
  border-radius: 0 0 0 3px;
}
.open-about p {
  font-family: "Staatliches", cursive;
  padding-left: 1rem;
  font-size: 2rem;
}
.open-about:hover {
  filter: hue-rotate(70deg) brightness(104%) contrast(97%);
}

.options {
  padding: 1rem 1rem 2rem 1rem;

  width: 350px;
  height: 320px;
  z-index: 1100;
  position: fixed;
  left: 1rem;
  top: 0;
  transform: translate3d(0, -150vh, 0);
  transition: transform 0.5s ease-in;
  background-color: #55505cee;
  background-image: linear-gradient(#47444baa, transparent 80%),
    radial-gradient(circle at top left, #47444bee, transparent 45%),
    radial-gradient(circle at top, #47444bee, transparent 35%);
  border-radius: 0 0 10px 10px;
}
.show-options {
  padding: 2rem 1rem 2rem 1rem;
  width: 350px;
  height: 350px;

  z-index: 1100;
  position: fixed;
  left: 1rem;
  top: 0;
  transform: translate3d(0, 0vh, 0);
  transition: transform 0.5s ease-out;
  background-color: #55505cee;
  background-image: linear-gradient(#47444baa, transparent 80%),
    radial-gradient(circle at top left, #47444bcc, transparent 45%),
    radial-gradient(circle at top, #47444bcc, transparent 35%);
  border-radius: 0 0 10px 10px;
}

.button {
  background: #222;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}
.conways-container {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
}
.fast-slow {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: var(--board-background);
  font-size: 1rem;
  z-index: 1200;
  text-align: right;
  padding-right: 1rem;
}

/*
slider class names from rsuite to use custom colors
*/
.rs-slider-bar {
  background-color: #252b27aa;
  cursor: pointer;
  height: 25px;
}
.rs-slider-bar:hover {
  background-color: #252b27aa;
  height: 25px;
}

.rs-slider-graduator > ul > li:last-child::after,
.rs-slider-graduator > ul > li::before {
  background-color: #292d33ee;
  height: 25px;
  border: 2px solid #3c3f43;
}
.rs-slider-graduator > ul > li.rs-slider-pass::before {
  border-color: var(--slider-color);
  height: 25px;
}
.rs-slider-progress-bar {
  background-color: var(--slider-color);
  height: 25px;
}

.rs-slider-handle::before {
  border: 4px solid var(--slider-color);
  background-color: #292d33;
  height: 35px;
  width: 35px;
  position: absolute;
  left: -12px;
  top: 8px;
  cursor: pointer;
  box-shadow: -3px 3px 5px #262429;
}
.rs-form-control-wrapper.plaintext > .rs-slider .rs-tooltip-inner {
  display: inline-block;
  background: transparent;
  color: #e9ebf0;
  font-size: 14px;
  line-height: 2.42857143;
  padding: 8px 0;
}
