.Board {  
    position: relative;  
    margin: 0 auto;  
    background-image: linear-gradient( #030 1px, transparent 1px), 
    linear-gradient(90deg, #030 1px, transparent 1px);
    background-color: #010;
}
.Cell {  background: #aea;  position: absolute;}